<html>

<head>
  <title>Anime</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Red+Rose&family=Roboto:ital@1&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico" />

</head>

<body>
  <%- include("../partials/navbar"); %>